[submodule "htdocs/content/themes/theme"]
	path = htdocs/content/themes/theme
	url = C:/Development/themosis//theme
[submodule "htdocs/content/mu-plugins/framework"]
	path = htdocs/content/mu-plugins/framework
	url = C:/Development/themosis/framework
