body {
    border-top: 3px solid #2A6D7F;
}

#header {

    color: $white;
    margin-top: 20px;

    h1 {

        font-weight: bold;
        font-size: 30px;
        line-height: 30px;

        span.lara {
            color: lighten(orange, .5);
        }

        span.press {
            color: #E8E8E8;
        }
    }

    nav {

        ul {
            @extend .clearfix;

            float: right;
            list-style: none;

            li {
                float: left;
                margin: 0 15px;

                a {
                    line-height: 41px;
                    font-size: 1.2em;
                    color: #e0e0e0;
                    transition: color ease .3s;

                    &:hover {
                        color: #bbbbbb;
                    }
                }
            }
        }
    }
}
